Cyrus.WsApi.Core/wwwroot/wsdl/ROSASTradeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:tns="http://tempuri.org/"
  targetNamespace="http://tempuri.org/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="ROSASTrade">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="serviceCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="userName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="roleID" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="authCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="ipAddress" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="eventID" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="serviceParas" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ROSASTradeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Response" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ROSASTradeResponse">
    <wsdl:part name="parameters" element="tns:ROSASTradeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ROSASTradeRequest">
    <wsdl:part name="parameters" element="tns:ROSASTrade">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ROSASTradeServiceSoap">
    <wsdl:operation name="ROSASTrade">
      <wsdl:input name="ROSASTradeRequest" message="tns:ROSASTradeRequest">
      </wsdl:input>
      <wsdl:output name="ROSASTradeResponse" message="tns:ROSASTradeResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROSASTradeServiceSoap" type="tns:ROSASTradeServiceSoap">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ROSASTrade">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="ROSASTradeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ROSASTradeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ROSASTradeService">
    <wsdl:port name="ROSASTradeServiceSoap" binding="tns:ROSASTradeServiceSoap">
      <wsdlsoap:address location="http://10.216.11.62/api/ROSASTradeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>